body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: sans-serif;
  overflow-x: hidden;
  color: #333; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.pointer {
  cursor: pointer; }

.car-img {
  max-height: 450px; }

.phone-block {
  height: 55px; }

.phoneNumber {
  color: #333;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2; }
  .phoneNumber:hover {
    text-decoration: none;
    color: #666; }

.btn-outline-success {
  width: 150px; }

.modal {
  display: block; }

.modal-price {
  padding-left: 20px;
  margin-bottom: 0;
  font-size: 24px; }
